*{
  margin: 0%;
  padding: 0%;
  font-family: cursive;
}
.add-image{
  max-width: 400px;
  max-height: 210px;
  border: 0px solid #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 13px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.add-image h3{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
.add-image input{
  margin-top: 10px;
  outline: none;
  display: flex;
  background: transparent;
  border: 0px solid #000;
  margin: 10px;
}
.add-image #text{
  border-radius: 5px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  border:2px solid #f2f2f2 ;
  padding: 8px;
  width: 90%;
}
.add-image #btn{
  display: flex;
  margin: 12px;
  padding: 8px 20px;
  border: 1px solid #000;
  color: #fff;
  font-weight: 500;
  background: #000;
  transition: 0.1s;
}
.add-image #btn:hover{
  border-radius: 20px;
}
.add-image form .error{
  color: red;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  border-radius: 2px;
}

.add-image form .msg{
  color: green;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  border-radius: 2px;
}